name: surveysinator
services:
    postgres:
        build:
            dockerfile: ./docker/postgres.Dockerfile
        container_name: my-postgres-local
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: surveysinator
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        restart: unless-stopped

    client-web:
        build:
            args:
                BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
                NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
                POSTGRES_DB: ${POSTGRES_DB}
                POSTGRES_HOST: ${POSTGRES_HOST}
                POSTGRES_PORT: ${POSTGRES_PORT}
                POSTGRES_USER: ${POSTGRES_USER}
                POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
                CLIENT_WEB_DOMAIN: ${CLIENT_WEB_DOMAIN}
                GEMINI_API_KEY: ${GEMINI_API_KEY}
            dockerfile: ./docker/client-web.Dockerfile
        container_name: my-client-web
        ports:
            - "3201:3001"
        restart: unless-stopped
        depends_on:
            - postgres
        environment:
            BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
            NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_HOST: ${POSTGRES_HOST}
            POSTGRES_PORT: ${POSTGRES_PORT}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            CLIENT_WEB_DOMAIN: ${CLIENT_WEB_DOMAIN}
            GEMINI_API_KEY: ${GEMINI_API_KEY}

    backend:
        build:
            args:
                BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
                NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
                POSTGRES_DB: ${POSTGRES_DB}
                POSTGRES_HOST: ${POSTGRES_HOST}
                POSTGRES_PORT: ${POSTGRES_PORT}
                POSTGRES_USER: ${POSTGRES_USER}
                POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
                CLIENT_WEB_DOMAIN: ${CLIENT_WEB_DOMAIN}
                GEMINI_API_KEY: ${GEMINI_API_KEY}
            dockerfile: ./docker/backend.Dockerfile
        container_name: my-backend
        ports:
            - "3200:3000"
        restart: unless-stopped
        depends_on:
            - postgres
        environment:
            BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
            NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_HOST: ${POSTGRES_HOST}
            POSTGRES_PORT: ${POSTGRES_PORT}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            CLIENT_WEB_DOMAIN: ${CLIENT_WEB_DOMAIN}
            GEMINI_API_KEY: ${GEMINI_API_KEY}
volumes:
    pgdata:
