name: surveysinator
services:
    postgres:
        build:
            dockerfile: ./docker/postgres.Dockerfile
        container_name: my-postgres-local
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: surveysinator
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        restart: unless-stopped

    client-web:
        build:
            dockerfile: ./docker/client-web.Dockerfile
        container_name: my-client-web
        ports:
            - "3001:3201"
        restart: unless-stopped
        depends_on:
            - postgres
        env_file:
            - .env

    backend:
        build:
            dockerfile: ./docker/backend.Dockerfile
        container_name: my-backend
        ports:
            - "3000:3200"
        restart: unless-stopped
        depends_on:
            - postgres
        env_file:
            - .env
volumes:
    pgdata:
