name: surveysinator-local
services:
    postgres:
        build:
            context: ../
            dockerfile: ./docker/postgres.Dockerfile
        container_name: my-postgres-local
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: surveysinator
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        restart: unless-stopped

    backend:
        image: my-backend-local
        build:
            context: ../
            dockerfile: ./docker/backend.Dockerfile
        volumes:
            - ../apps/backend:/usr/src/app/apps/backend:cached
            - ../packages:/usr/src/app/apps/packages:cached
        working_dir: /usr/src/app/apps/backend
        command: bun run start --watch
        ports:
            - "3000:3000"
        environment:
            NODE_ENV: development
        depends_on:
            - postgres

volumes:
    pgdata:
